body{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#ffd6e7,#ffe9f2,#fff5fa);
    height:100vh;
    overflow:hidden;
}

.container{
    text-align:center;
    padding-top:8vh;
}

.intro{
    color:#444;
    margin-bottom:0;
}

.intro2{
    color:#666;
    margin-top:5px;
    font-weight:500;
}

#question{
    margin-top:20px;
    font-size:28px;
    color:#ff2e7a;
}

.honest{
    margin-top:5px;
    color:#555;
}

.buttons{
    margin-top:30px;
    position:relative;
    height:200px;
}

button{
    padding:14px 28px;
    font-size:18px;
    border:none;
    border-radius:14px;
    cursor:pointer;
    transition:0.25s;
    position:absolute;
}

/* YES BUTTON */
#yes{
    background:#ff2e7a;
    color:white;
    left:35%;
}

#yes:hover{
    transform:scale(1.2);
    box-shadow:0 0 18px rgba(255,46,122,0.6);
}

/* NO BUTTON */
#no{
    background:#444;
    color:white;
    left:55%;
}

/* Hearts */
.heart{
    position:fixed;
    top:-20px;
    font-size:22px;
    animation:fall linear forwards;
    pointer-events:none;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
        opacity:0;
    }
}

/* Mobile optimization */
@media(max-width:600px){
    #question{
        font-size:22px;
        padding:0 15px;
    }

    button{
        padding:12px 20px;
        font-size:16px;
    }
}
