body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffd1dc,#ffe6f0);
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    position:relative;
}

.emoji{
    font-size:60px;
    margin-bottom:10px;
}

h1{
    font-size:26px;
    margin-bottom:30px;
}

.buttons{
    position:relative;
    height:80px;
}

button{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    transition:0.2s;
    position:absolute;
}

#yesBtn{
    background:#ff4d6d;
    color:white;
    left:40px;
}

#yesBtn:hover{
    transform:scale(1.15);
}

#noBtn{
    background:#ddd;
    color:black;
    right:40px;
}

.small{
    margin-top:25px;
    color:#777;
    font-size:13px;
}

.hidden{
    display:none;
}

#success{
    position:absolute;
    text-align:center;
    font-size:28px;
    color:#ff2e63;
}
